<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="~/bin/objects.xml"/>
    </context>
  </spring>

  <!--Log4net-->
  <log4net>
    <appender name="RootAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFiles/root@"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd.lo\g"/>
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level %logger.%method %file  %line %newline  %message%newline"/>
      </layout>
    </appender>
    <appender name="WebAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFiles/web@"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <encoding value="utf-8" />
      <datePattern value="yyyy-MM-dd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level %logger.%method %file  %line %newline  %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="Error"/>
      <appender-ref ref="RootAppender"/>
    </root>
    <logger name="LT" additivity="false">
      <level value="Error"/>
      <appender-ref ref="WebAppender"/>
    </logger>
  </log4net>

  <!--<appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
  </appSettings>-->

  <location path="management">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="search">
    <system.web>
      <httpRuntime requestPathInvalidCharacters="" />
    </system.web>
  </location>
  <location path="service">
    <system.web>
      <httpRuntime maxRequestLength="40960" requestValidationMode="2.0" />
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" defaultRedirect="error.aspx"/>
    <sessionState mode="Off" timeout="20" cookieless="UseCookies" cookieName="ASP.NET_SessionId_LiquidTrouse" />
    <authentication mode="Forms">
       <forms loginUrl="management/login.aspx" defaultUrl="management/articlelist.aspx" requireSSL="false" timeout="30" slidingExpiration="true" cookieless="UseDeviceProfile" name="ASPXLIQUIDTROUSEAUTH" path="/" />
    </authentication>
  </system.web>
  
  <system.webServer>
    <staticContent>
       <remove fileExtension=".woff" />
       <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
       <remove fileExtension=".woff2" />
       <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- SQLite -->
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.86.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>